<% @event.tags.build %>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label "Conference Short Name" %><br />
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label "Conference Full Name" %><br />
    <%= f.text_field :nameLong, %>
  </div>
  <div class="field">
    <%= f.label "Conference Website (URL)" %><br />
    <%= f.text_field :conferenceurl %>
  </div>
  <div class="field">
    <%= f.label "Call for Papers (URL)" %><br />
    <%= f.text_field :callforpapersurl %>
  </div>
  <div class="field">
    <%= f.label "is peer reviewed" %><br />
  	<%= f.check_box :peerreviewed, :id => 'peerreviewed' %> 
  </div>   
  <div class="field">
    <%= f.label "H-Index" %><br />
  	<%= f.text_field :hindex %> 
  </div>
  <div class="field">
    <%= f.label "Conference starts" %><br />
    <%= f.date_select :eventstart %>
  </div>
  <div class="field">
    <%= f.label "Conference ends" %><br />
    <%= f.date_select :eventend %>
  </div>
  <div class="field">
    <%= f.label "Precis Deadline" %><br />
    <%= f.check_box :precisdeadline_tba, :id => 'precisdeadline_tba' %> no precis/tba 
	    <span id="precis_date" <% if @event.precisdeadline_tba == true %> style="display:none" <% end %> ><%= f.date_select :precisdeadline %></span>
  </div>
  <div class="field">
    <%= f.label "Full Paper Deadline" %><br />
    <%= f.check_box :fullpaperdeadline_tba, :id => 'fullpaperdeadline_tba' %> no fullpaper/tba
    <span id="fullpaper_date" <% if @event.fullpaperdeadline_tba == true %> style="display:none" <% end %> ><%= f.date_select :fullpaperdeadline %></span>
  </div>
  <div>
    <%= f.label :country, "Land" %><br />
    <%= f.country_select :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="field">
  	<%= f.label :tag_list, "Tags (separated by commas)" %><br />
  	<%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
