<%= content_for :body_attributes %>

<div id="map" style="height: 40em;"></div>

<h2>Past Conferences</h2>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th>Location</th>
    <th></th>
  </tr>

<% @past.each do |event| %>
  <tr>
	<td><%= link_to truncate(event.name, :length => 20), event, :title => event.nameLong %> <%= ispeerreviewed(event) %>
    <td><%= duration(event) %></td>
	<td></td>
	<td></td>
    <td><%= event.address %></td>
    <td>
		<div class="btn-toolbar" role="toolbar">
	      <div class="btn-group-xs">
			<%= link_to edit_event_path(event), class: "btn btn-default" do %>
			    <i class="glyphicon glyphicon-pencil"></i>
			<% end %>
			<%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" do %>
			    <i class="glyphicon glyphicon-trash"></i>
			<% end %>
	      </div>
	    </div>
	</td>
  </tr>
<% end %>

</table>
<div class="pagination">
	<%= will_paginate @past, :param_name => 'past_page' %>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        var map = L.map('map');
        L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 12,
            minZoom: 2
        }).addTo(map);

        map.on('locationfound', function(position) {
            map.setView([20.0, position.longitude], 2);
        });
        map.on('locationerror', function(position) {
            map.setView([20.0, -0.09], 2);
        });
        map.locate({setView: false, maxZoom: 16});

        <% @past.each do |event| %>
            L.marker([<%= event.latitude %>, <%= event.longitude %>]).addTo(map).bindPopup(
                "<%= escape_javascript link_to truncate(event.name, :length => 20), event, :title => event.nameLong %>"
            )
        <% end %>
    </script>
<% end %>
