<p id="notice"><%= notice %></p>

<div class="row">
    <%= link_to '« Back', events_path, :class => "btn btn-default btn-sm" %>
    <div class="btn-group pull-right">
        <%= link_to({:controller => 'events', :action => 'show', :format => :ics}, {:class => "btn btn-default btn-sm"}) do %>
            <span class="glyphicon glyphicon-calendar"></span> Add to iCal
        <% end %>
        <%= link_to edit_event_path(@event), :class => "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-pencil"></span> Edit
        <% end %>
    </div>
</div>

<div class="row">
    <p>
        <h1><%= @event.name %></h1>
        <h2><%= @event.nameLong %> </h2>
        <h3><%= duration(@event) %></h3>
    </p>
</div>

<div class="row">
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>Precis deadline</dt>
            <dd><%= precisdeadline(@event) %></dd>

            <dt>Full-paper deadline</dt>
            <dd><%= fullpaperdeadline(@event) %></dd>

            <dt>H-Index</dt>
            <dd><%= @event.hindex %></dd>

            <dt>Is peer reviewed</dt>
            <dd><%= @event.peerreviewed %></dd>

            <dt>City</dt>
            <dd><%= @event.city %></dd>

            <dt>Country</dt>
            <dd><%= @event.country or "undefined" %></dd>

            <dt>Comments</dt>
            <dd><%= @event.comments %></dd>

            <dt>Tags</dt>
            <dd><%= join_tags(@event) %></dd>
        </dl>
    </div>
    <div class="col-md-7">
        <p>
            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=900x500&sensor=false&zoom=4&markers=#{@event.latitude}%2C#{@event.longitude}" %>
        </p>
    </div>
</div>

<div class="row">
    <h2>Attendees</h2>

    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Planning to submit</th>
            <th>Submitted</th>
            <th>Accepted</th>
            <th>Attending</th>
            <th></th>
        </tr>

        <% @event.attendances.each do |attendance| %>
        <tr>
            <td><%= attendance.name %></td>

            <td><%= check_box_tag '', attendance.id, attendance.planningtosubmit , disabled: true %></td>
            <td><%= check_box_tag '', attendance.id, attendance.submitted , disabled: true %></td>
            <td><%= check_box_tag '', attendance.id, attendance.accepted , disabled: true %></td>
            <td><%= check_box_tag '', attendance.id, attendance.attending , disabled: true %></td>
            <td>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group-xs">
                    <%= link_to edit_event_attendance_path(@event,attendance), class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>  
                    <%= link_to [attendance.event, attendance],
                        method: :delete, data: { confirm: 'Are you sure?' },
                        class: "btn btn-danger" do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                    </div>
                </div>
            </td>
        </tr>
        <% end %>
    </table>
</div>


<div class="row">
    <h3>Add an Attendee:</h3>

    <%= form_for([@event, @event.attendances.build], html: { class: 'form-horizontal' }) do |f| %>
        <div class="form-group">
            <label class="col-sm-4 control-label">Name</label>
            <div class="col-sm-4">
                <%= f.text_field :name,:class => 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
                        <%= f.check_box :planningtosubmit %> Planning to submit a paper 
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
              <%= f.check_box :submitted %> Paper submitted 
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
              <%= f.check_box :accepted %> Paper accepted 
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <div class="checkbox">
                    <label>
              <%= f.check_box :attending %> Attending Conference 
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <%= f.submit 'Add Attendee', :class => 'btn btn-success' %>
            </div>
        </div>
    <% end %>
</div>
