<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attendance.name %>
</p>

<p>
  <b>Accepted:</b>
  <%= @attendance.accepted %>
</p>

<p>
  <b>Submitted:</b>
  <%= @attendance.submitted %>
</p>

<p>
  <b>Planningtosubmit:</b>
  <%= @attendance.planningtosubmit %>
</p>

<p>
  <b>Attending:</b>
  <%= @attendance.attending %>
</p>

<p>
  <b>Comments:</b>
  <%= @attendance.comments %>
</p>

